@model IEnumerable<CampX.BusinessLogic.Implementations.Requests.Models.PendingRequestsModel>
@{
    ViewData["Title"] = "ShowTrip";
}

<link rel="stylesheet" href="~/css/ShowMoreStyling.css" type="text/css" />
<script type="text/javascript" defer src="~/js/ShowMoreLogic.js"></script>
<link rel="stylesheet" href="~/css/Request/ShowRequests.css" type="text/css" />
@*<script type="text/javascript" defer src="~/js/Request/ShowRequests.js"></script>
*@
<script type="text/javascript" defer src="~/js/Request/ShowRequests.js"></script>


<div id="requestsDiv">

    @if(Model.Count() == 0)
    {
        <div id="noRequests">
            <div> Nu aveti niciun request nou! </div>
            <a asp-controller="Request" asp-action="ShowRequests">Vezi cererile active!</a>
        </div>
    }

    else
    {
        <div id="titleDiv">
            <h1>Cereri în așteptare:</h1>
            <a asp-controller="Request" asp-action="ShowRequests">Vezi cererile active!</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nume trip
                    </th>
                    <th>
                        Date trip
                    </th>
                    <th>
                        Nume Organizator
                    </th>
                    <th>
                        Descriere
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="requestTd">
                            @Html.DisplayFor(modelItem => item.Trip.Name)
                        </td>
                        <td class="requestTd">
                            @if (item.Trip.Date != null)
                            {
                                @String.Format("{0:d}", item.Trip.Date)
                                ;
                            }
                            else
                            {
                                <text>Nu a fost setat o data pentru acesta excursie</text>
                            }
                        </td>
                        <td class="requestTd">
                            @foreach(var tripCamper in item.Trip.TripCampers)
                            {
                                if (tripCamper.IsOrganizer)
                                {
                                    <text>@tripCamper.Camper.FirstName @tripCamper.Camper.LastName </text>
                                
                                }
                            }
                        </td>
                       <td class="requestTd">
                            @if (item.Description != null)
                            {
                                <div class="ShowMoreDiv">

                                    @Html.DisplayFor(modelItem => item.Description)
                                </div>
                                @if (item.Description.Length > 100)
                                {
                                    <div class="showMore">ShowMore</div>
                                }

                            }
                            else
                            {
                                <div>Nu a fost adaugata o descriere!</div>
                            }
                        </td>
                        <td>
                            <div id="iconsDiv">
                                <a class="acceptDecline" onclick="AcceptDelete('@item.Camper.Id', '@item.Trip.Id', '/Request/AcceptRequest')">&#x2714;</a>
                                <a class="acceptDecline" onclick="AcceptDelete('@item.Camper.Id', '@item.Trip.Id', '/Request/DeleteRequest')">&#10006;</a>
                            </div>
                        </td>

                    </tr>            
                }
            </tbody>
        </table>
    }
</div>