@model IEnumerable<CampX.BusinessLogic.Implementations.Trips.Models.ShowTripsModel>

@{
    ViewData["Title"] = "ShowTrip";
}
<link rel="stylesheet" href="~/css/Trip/ShowTrips.css" type="text/css" />
<link rel="stylesheet" href="~/css/ShowMoreStyling.css" type="text/css" />
<script type="text/javascript" defer src="~/js/Trip/ShowTrips.js"></script>
<script type="text/javascript" defer src="~/js/ShowMoreLogic.js"></script>
<div id="showTripsDiv">

    <div id ="titleDiv" >Tripurile publice</div>
    <div class = "AddSearchDiv">
      @*  <a id="addTrip" asp-action="ShowMap">Creaza un trip nou</a>*@
        <button id="addTrip" onclick="window.location.href='../Trip/ShowMap'" type="button" class="btn btn-dark">Creaza un trip nou </button>
        <div class="input-group">
            <input id="searchInput" type="search" placeholder="Pentru a cauta un trip privat, introdu aici codul de 6 litere!" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button id="searchButton" type="button" class="btn btn-outline-primary">Cauta</button>
        </div>
        <div id="searchDiv"></div>
    </div>




    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    Locuri de campare
                </th>
                <th>
                    Organizator
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style = "width: 400px;">
                        @if (item.Description != null)
                        {
                            <div class="ShowMoreDiv">

                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                            @if (item.Description.Length > 50)
                            {
                                <div class="showMore">ShowMore</div>
                            }

                        }
                        else
                        {
                            <div>Nu a fost adaugata o descriere!</div>
                        }
                </td>
                <td>
                    @if (item.Date != null)
                    {
                            @String.Format("{0:d}", item.Date);
                    }
                    else
                    {
                        <text>Nu a fost setat o data pentru acesta excursie</text>
                    }
                </td>
                <td >
                        <div class="ShowMoreDiv" id="campsites">
                            @foreach (var campsite in item.Campsites)
                            {

                            <a asp-controller="Map" asp-action="CampsiteDetails" asp-route-id=@campsite.Id> 
                                @campsite.Name
                            </a>
                            }
                        </div>
                            @if (item.Campsites.Count > 2)
                            {
                                <div class="showMore">ShowMore</div>
                            }
                </td>
                <td id="organizatorTD">
                        @foreach(var camper in item.TripCampers)
                        {
                            @if (camper.IsOrganizer)
                            {
                                 <span>
                                    <a href="~/CamperAccount/CamperProfile/@camper.Camper.Id">
                                          @camper.Camper.FirstName
                                          @camper.Camper.LastName
                                        este organizator!
                                      </a>
                                       
                                 </span>
                            }
                        }
                </td>
                <td >
                        <a asp-controller="Trip" asp-action="TripDetails" asp-route-id=@item.Id> Detalii</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

