@model CampX.BusinessLogic.Implementations.Trips.Models.ShowTripsModel
@using CampX.Common.ViewModels;
@inject CurrentCamperDTO currentCamper
@{
    ViewData["Title"] = "TripDetails";
    ViewData["Class"] = "TripDetails";
}

@*Leaftlet*@
<script type="text/javascript" src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
@*my refs*@
<link rel="stylesheet" href="~/css/Trip/TripDetails.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<script type="text/javascript" defer src="~/js/Trip/TripDetails.js"></script>
<script type="text/javascript" defer src="~/js/TentIcon.js"></script>
@*@if (currentCamper.IsAuthenticated == false)
{
    <a href="~/CamperAccount/Login">Login</a>
}
else{  *@ 
<div id="tripDetailsDiv">


    <div  id="tripName">
        @Model.Name
    </div>
       
        <div id="map"></div>
        <div>

        <div id="detailsDiv">

            <div class="detailsField">
                @if(Model.Description != null){
                    @Model.Description 
                }
                else{
                    <text>Nu a fost intordusă o descriere!</text>
                }
            </div>
            <div class="detailsField">
            
                    @if (Model.IsPublic)
                    {
                        <span>Public</span>
                    }
                    else
                    {
                       <span>Privat</span>
         
                    }
                </div>

            <div class="detailsField">
                Data:    
                @if (Model.Date != null)
                            {
                                @String.Format("{0:d}", Model.Date);
                            }
                            else
                            {
                                <span>Nu a fost setat o data pentru acesta excursie</span>
                            }
                </div>

            <div class="detailsField">
                    Cod: @Model.Code
                </div>
                <div id="participantsDiv">
                     
                    Participanți:
                               
                    @foreach(var tripCamper in Model.TripCampers)
                    {
                        <a href="~/CamperAccount/CamperProfile/@tripCamper.Camper.Id">
                            @tripCamper.Camper.FirstName @tripCamper.Camper.LastName    
                        </a>
                    }
            
                </div>
            </div>
        </div>

        <input id="currentCamper" type= "hidden" value = @currentCamper.Id>
        <button  id="joinButton">Înscrie-te</button>
        <div id="requestContainer">
            <div id="RequstInput" class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Descriere</label>
                        <textarea id="expandableField" class="form-control"></textarea>
                    </div>
                    <div id="requestButtonDiv">
                        <button id="requestButton" >Trimite cerere</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="buttonsDiv">
            <div class="tooltip-btn">
            <a id="finishButton" asp-controller="Trip" asp-action="FinishTrip" asp-route-id=@Model.Id>Finalizează excursia</a>
                <div class="tooltip-text">
                    Pentru ca progresul tău să fie înregistrat în sistemul de badge-uri, după ce te întorci acasă, finalizează excursia!
                </div>
            </div>

        <a id="editButton" asp-controller="Trip" asp-action="EditTrip" asp-route-id=@Model.Id>Editează excursia</a>
        <a id="deleteButton" asp-controller="Trip" asp-action="DeleteTrip" asp-route-id=@Model.Id>Șterge excursia</a>
            <a asp-action="ShowTrips">Înapoi la listă</a>
        </div>
    
        <div id="note-container">
        <span id="noteSpan">Notițe</span>

            <div id="noteInput" class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Descriere</label>
                        <textarea id="noteExpandableField" class="form-control"></textarea>
                    </div>
                    <div id="noteButtonDiv">
                        <button id="noteButton" type="button" class="btn btn-primary">Adaugă notița</button>
                    </div>
                </div>

            </div>
        </div>


    @*   <div id="weatherContainer"></div>
    *@@*<iframe src="https://www.meteoblue.com/en/weather/widget/three/voineasa?geoloc=fixed&nocurrent=0&noforecast=0&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image" frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 460px; height: 590px"></iframe>
    <div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/voineasa_romania_662531?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a></div>*@
    <script>
        function reverseGeocode(lat, lng, callback) {
            const apiUrl = `https://nominatim.openstreetmap.org/reverse?lat=${lat}&lon=${lng}&format=json`;
            fetch(apiUrl)
                .then((response) => response.json())
                .then((data) => {
                    const address = data.display_name;
                    callback(address);
                })
                .catch((error) => {
                    console.error("Error performing reverse geocoding:", error);
                });
        }
    </script>


    @foreach(var campsite in Model.Campsites)
    {
        <div class="weatherDiv">
            <!-- the DIV that will contain the widget --> <div class=@($"weatherWidget{@campsite.Id}")></div>
            <script>
                reverseGeocode(@campsite.Latitude, @campsite.Longitude, function (address) {
                    window.weatherWidgetConfig = window.weatherWidgetConfig || [];
                    window.weatherWidgetConfig.push({
                        selector: `.weatherWidget${@campsite.Id}`,
                        apiKey: "JKTNYCW7LJPC3HEPDAXN93LT7", //Sign up for your personal key
                        location: address, //Enter an address
                        unitGroup: "metric", //"us" or "metric"
                        forecastDays: 5, //how many days forecast to show
                        title: "@campsite.Name",// `${campsite.Name}`
                      //  title: ,
                        showTitle: true,
                        showConditions: true
                    });

                    (function () {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                });

            </script>
        </div>
    }
    <div class="modal fade" id="confirmFinalizeModal" tabindex="-1" role="dialog" aria-labelledby="confirmFinalizeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: rgba(255, 238, 203); border-radius: 10px">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmFinalizeModalLabel">Sunteți sigur că vreți să finalizați acest trip?</h5>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelFinalizeButton">Anulează</button>
                    <button type="button" class="btn btn-danger" id="confirmFinalizeButton">Finalizează</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: rgba(255, 238, 203); border-radius: 10px">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Sunteți sigur că vreți să stergeți acest trip?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDeleteButton">Anulează</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Șterge</button>
                </div>
            </div>
        </div>
    </div
    
</div>