@model CampX.BusinessLogic.Implementations.Trips.Models.ShowTripsModel
@using CampX.Common.ViewModels;
@inject CurrentCamperDTO currentCamper

@{
    ViewData["Title"] = "TripDetails";
}

@*Leaftlet*@
<script type="text/javascript" src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
@*my refs*@
<link rel="stylesheet" href="~/css/Trip/TripDetails.css" type="text/css" />

<script type="text/javascript" defer src="~/js/Trip/TripDetails.js"></script>
<script type="text/javascript" defer src="~/js/TentIcon.js"></script>
<h1>TripDetails</h1>
<div id="map"></div>
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            Nume:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Descriere:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description) 
        </dd>
        <dt class = "col-sm-2">
            Vizibilitate:
        </dt>
        <dd class = "col-sm-10">
            @if (Model.IsPublic)
            {
                <span>Public</span>
            }
            else
            {
               <span>Privat</span>
         
            }
        </dd>
        <dt class = "col-sm-2">
            Data:
        </dt>
        <dd class = "col-sm-10">       
            @if (Model.Date != null)
            {
                @String.Format("{0:d}", Model.Date);
            }
            else
            {
                <span>Nu a fost setat o data pentru acesta excursie</span>
            }
        </dd>
        <dt class = "col-sm-2">
            Cod
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
    </dl>
</div>


@if (currentCamper.IsAuthenticated == false)
{
    <a href="~/CamperAccount/Login">Login</a>
}
else
{
    <input id="currentCamper" type= "hidden" value = @currentCamper.Id>
    <button class="btn btn-primary" id="joinButton">Join</button>
    <div id="requestContainer">
        <div id="RequstInput" class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Descriere</label>
                    <textarea id="expandableField" class="form-control"></textarea>
                </div>
                <div id="requestButtonDiv">
                    <button id="requestButton" class="btn btn-primary">Add Request</button>
                </div>
            </div>
        </div>
    </div>
}









<div>
    <a asp-action="ShowTrips">Back to List</a>
</div>
